Source: smxrts<maj_version>
Priority: optional
Maintainer: Simon Maurer <simon.maurer@humdek.unibe.ch>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Section: libs
Homepage: https://github.com/moiri/streamix-rts

Package: smxrts-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: smxrts<maj_version> (= ${binary:Version}), ${misc:Depends}
Description: Development Package of 'libsmxrts'
 This is the development package of the library 'libsmxrts'. This library
 contains the Streamix RTS.

Package: smxrts<maj_version>
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Streamix RTS 'smxrts'
 The runtime system (RTS) for the coordination language Streamix.
